<div class="w-100 bg-black d-flex flex-column py-1">
    <div class=" container bg-black flex-row justify-content-evenly align-items-center mt-2">
        <div class="d-flex flex-row align-items-center gap-2 border-bottom border-dark">
            <img width="30" height="30" src="../../assets/images/Logo2.jpg" alt="">
            <h2 class="navbar-brand text-white p-1">Rahmany</h2>
        </div>
        <div class="d-flex  flex-column  flex-sm-row w-100 justify-content-evenly align-items-start gap-2 border-bottom gap-sm-0
            align-items-sm-center bg-black mt-3 border-bottom border-dark">
            <div class="d-flex flex-column">
                <h6 class="text-white fw-light" class="text-white">Contacts</h6>
                <h6 class="text-white fw-light">+2-1149401120</h6>
                <h6 class="text-white fw-light">+2-112672670</h6>
                <h6 class="text-white fw-light">elngareng12345@gmail.com</h6>
                <h6 class="text-white fw-light">Facebook:https://shorturl.at/jmzFI</h6>
            </div>

            <div class="d-flex flex-column">
                <h6 class="text-white fw-light">Company</h6>
                <h6 class="text-white fw-light">Our Team</h6>
                <h6 class="text-white fw-light">Our Partners</h6>
                <h6 class="text-white fw-light">FQA</h6>
                <h6 class="text-white fw-light">Blog</h6>
            </div>

            <div class="d-flex flex-column">
                <h6 class="text-white fw-light">Contacts</h6>
                <h6 class="text-white fw-light">How it works</h6>
                <h6 class="text-white fw-light">Terms of us</h6>
                <h6 class="text-white fw-light">Privacy policy</h6>
                <h6 class="text-white fw-light">About US</h6>
            </div>

            <div class="d-flex flex-column">
                <h6 class="text-white fw-light">Support</h6>
                <h6 class="text-white fw-light">Contact Us</h6>
                <h6 class="text-white fw-light">Account</h6>
                <h6 class="text-white fw-light">Feedback</h6>
                <h6 class="text-white fw-light">Accesabelty</h6>
            </div>

        </div>
        <div class="container d-flex justify-content-evenly align-items-center m-auto">
            <p class="fw-medium">Copyrights&copy;Rahmany 2023. All rights reserved</p>
        </div>
    </div>
</div>
