<div class="container">
    <div class="card border-0 pt-5 mb-4 col-12 col-lg-8 mx-auto">
        <div class="card-header bg-transparent border-0 p-0 w-75">
            <h1 class="card-title mb-5">{{selectedCourse.Name}}</h1>
            <div class="coursecard mb-3">
                <img [src]="selectedCourse.ImageUrl" alt="" class="courseimg w-100">
            </div>
        </div>
        <p class="card-text fs-4 w-75">{{selectedCourse.Description}}</p>
        <div
            class="card-footer border-0 bg-transparent d-flex flex-column flex-sm-row justify-content-between px-0 w-75">
            <button class="btn btn-success col-lg-5 mb-3 mb-sm-0">buy this course</button>
            <button class="btn btn-primary col-lg-5">Add to wishlist</button>
        </div>
    </div>
</div>
