<div class="container">
    <div class="d-flex flex-column flex-md-row p-2">
        <img src="../../assets/images/Aboutus.png" class="w-75 d-block d-md-none" alt="">

        <div class="d-flex flex-column p-4">
            <h1>Who We Are</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab assumenda ut incidunt architecto excepturi,
                error quo ipsum earum minima, reiciendis sunt maiores dicta reprehenderit voluptas officia magni
                repellat dignissimos corrupti omnis alias laudantium dolorem, numquam adipisci. Consequuntur harum
                excepturi adipisci odit inventore sunt error delectus ut odio aspernatur accusamus alias corporis dolor
                necessitatibus iure mollitia sit nostrum, qui, soluta consectetur minus. Deleniti cumque perferendis
                repudiandae ea aspernatur facere quod suscipit veniam laboriosam atque! Cumque quia expedita ad quisquam
                facilis repellendus minima quae eaque quam voluptates, provident voluptatum itaque culpa! Aut iure
                tenetur cum temporibus et ducimus ipsum incidunt magni sunt sed nemo, recusandae eum repellat delectus
                placeat, culpa perferendis ut amet voluptate, commodi vero quaerat! Qui facere ullam repellendus, non
                sequi accusantium in maiores similique autem illo, expedita impedit soluta asperiores facilis possimus
                iste rerum, sit voluptates dolores odit. Debitis, voluptate? Consequuntur incidunt deserunt unde illum
                dicta beatae aliquam aut.</p>
        </div>
        <img src="../../assets/images/Aboutus.png" class="w-25 w-lg-75 d-none d-md-block" alt="">
    </div>
</div>
