<div class="container">
    <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center">
        <img class="d-sm-block d-none col-sm-12 col-md-5" src=" ../../assets/images/login.png" alt="">
        <div class="px-3 container col-sm-12 col-md-5">
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3
            ">
                <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="**********">
            </div>

            <div class="d-flex flex-sm-row justify-content-between w-75 align-items-center">
                <p class="fs-6"> <span><a class="link-primary text-decoration-none text-start" href="">Forget
                            Password</a></span>
                </p>
            </div>
            <button type="button" class="btn btn-primary w-100">Login</button>
            <hr>
            <p class="fs-6" style="--bs-text-opacity: .4;">Don't have an account?, go to <span><a
                        class="link-primary text-decoration-none text-start" href="">register</a></span> page and create
                a new one.</p>
        </div>
    </div>
</div>
